

test-network/channel-artifacts/*.tx
test-network/channel-artifacts/*.block
test-network/ledgers
test-network/ledgers-backup
test-network/channel-artifacts/*.json
test-network/org3-artifacts/crypto-config/*
test-network/organizations/fabric-ca/ordererOrg/*
test-network/organizations/fabric-ca/org1/*
test-network/organizations/fabric-ca/org2/*
test-network/organizations/ordererOrganizations/*
test-network/organizations/peerOrganizations/*


explorer/organizations/*


test-network/system-genesis-block/*

*.tar.gz
log.txt
